@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;800;900');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #161117;

}

.todo-container{
    width: 40%;
}

.input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.input .form-control{
    background: transparent;
    border: none;
    height: 50px;
    border-radius: 50px;
    width :90%;
    padding:0px 20px;
    font: size 16px;
    color: #838284;
    box-shadow: -6px -6px 10px rgba(255,255,255,0.03),
    6px 6px 10px rgba(10,8,10,0.8),
    inset -6px -6px 10px rgba(255,255,255,0.05),
    inset 6px 6px 10px rgba(12,8,12,0.8);
}